// _base.scss
// Reset & base styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @include smooth-scroll;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: 1.6;
  color: $text-primary;
  background: $background-light;
  min-height: 100vh;
}

// Links
a {
  color: $primary-color;
  text-decoration: none;
  transition: color $transition-fast;
  
  &:hover {
    color: $primary-dark;
    text-decoration: underline;
  }
}

// Images
img {
  max-width: 100%;
  height: auto;
  display: block;
}

// Buttons
button {
  font-family: inherit;
  cursor: pointer;
  
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

// Form elements
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

// Scrollbar styling
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $background-light;
}

::-webkit-scrollbar-thumb {
  background: $border-color;
  border-radius: $radius-sm;
  
  &:hover {
    background: darken($border-color, 10%);
  }
}